
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Muli');


*{
    box-sizing: border-box;
}


.navi{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.navi .navbar-brand{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Yeseva One', cursive;
}

.title{
    text-align: left;
    padding: 60px 160px;

}

.title h3{
    font-size: 35px;
   /*  font-weight: bold; */
    font-family: 'Yeseva One', cursive;

}

.save{
    display: flex;
     
}

.save div{
    margin-right: 50px;
    margin-top: 20px;
}

.fav{
    padding: 5px 0;
    font-weight: bold;
}

.fav i{
    margin-left: 5px;
}

.small-title{
    border-left: 2px solid #b8b8b8;
    color: #b8b8b8;
    padding: 5px 20px;
}

.midle{
    text-align: justify;
    padding: 60px 140px;
}

.midle h3{
    margin-top: 60px;
}

.image-md{
    width: 100%;


.aside{
/*     border: 1px solid black; */
    padding-left: 10px;
    width: 100%;
}
h4{
    padding-top: 50px;
}
/* h4 .fourth .fifth .sixth{
    color: #868686;
} */
p {
    
    padding-top: 10px;
    color: #a0a0a0;
}
table{
    margin-top: 30px;
    width: 100%;
}
.view{
    border: 0.2px solid #a0a0a0;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* padding-bottom: 40px; */
}
.month{
    text-align: left;
    }
.numbers{
    text-align: right;
}
#share-buttons img {
    width: 30px;
    padding: 3px;
    border: 0;
    box-shadow: 0;
    display: inline-flex;
    justify-content: space-between;

}